body {

background-color:  #E6E6FA;
color: #191970

}

.feature 
{
	color: #FF0000;
}

#content
{
	background-color: #F6F6FD;
}

.heading
{
	background-color: #000080;
	color : #AA98A9
}